body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  color: #ffffff;
}
h1 {
  padding-top: 110px;
  padding-bottom: 10px;
  color: brown;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
}
.flued-container {
  background-color: #484848;
  min-height: 100px;
  position: fixed;
  width: 100%;
}

nav {
  /* padding: 35px 0px; */
  margin: auto;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

nav a {
  margin-top: 100px;
  border: 2px solid white;
  padding: 12px 20px;
  margin: 5px;
  color: #ffffff;
  text-decoration: none;
}

nav p span {
  font-weight: bold;
}
.contanier {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: space-between;
}

.col {
  text-align: center;
  background-color: #2be293;
  width: 30%;
  height: min-content;
  margin-bottom: 40px;
}

.col img {
  width: 100%;
  height: auto;
}

.col p {
  padding: 20px 30px;
  color: white;
  font-size: 0.825rem;
  line-height: 1.25rem;
}
.col p::first-line {
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    color: #ec0dce;
  }
  .col {
    margin: 0 auto 40px auto;
    width: 45%;
  }
  /* nav p{
    margin-top: 4px;
    width: 100%;
    text-align: center;
  }

  nav div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
  }
  nav a{
    width: 100%;
    padding: 5px;
    text-align: center;
  } */

}

@media (max-width: 355px) {
  h1 {
    color: #49032c;
  }

  .col {
    width: 95%;
  }


  nav{
    display: block;
  }
  nav p{
    text-align: center;
  }
  nav a{
    display:block;
    text-align: center;
    padding: 5px 0px;
  }

}
